.ProfileCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e0e0;
    width: fit-content;
    height: auto;
    margin: 30px;
    border-radius: 20px;
    padding: 30px
}

.ProfilePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProfileButtons {
    display: flex;
    column-gap: 20px;
    margin: 30px;
}

.ProfileAvatar {
    margin-right: 50px;
    order:-1;
}

.ProfileForm {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.ProfileAvatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

@media only screen and (max-width: 1233px) {
    .ProfileCard{
        width: fit-content;
        margin: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .ProfileAvatar{
        margin: 10px;
        order:2;
    }
    .ProfileButtons{
        order:5;
    }
} 

@media only screen and (max-width: 768px) {
    .ProfileCard{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: fit-content;
    }
  }